# Preparing prizes for OmicsIntegrator2 from DESeq2 results for Human

In [1]:
%matplotlib inline
import numpy as np
import pandas as pd

In [3]:
NUM = 200
human = pd.read_csv('DESeq2_data/Yamuna/Human_NT_vs_ABCD1_DESeq2_results.tsv', sep='\t', header=None, names=['GeneID','Base mean','log2(FC)','StdErr','Wald-Stats','P-value','P-adj'])
human = pd.concat([human.set_index('GeneID').rename_axis(None).loc[['ABCD1', 'TGFB1']], human.set_index('GeneID').rename_axis(None)[:NUM]])
human.head()

,Base mean,log2(FC),StdErr,Wald-Stats,P-value,P-adj
ABCD1,206.706956,2.835321,0.183205,15.476223,5.020961e-54,1.648218e-52
TGFB1,459.067424,-2.181096,0.116899,-18.657899,1.089306e-77,5.673349e-76
TAGLN2,3702.951794,2.954344,0.056286,52.488180,0.000000e+00,0.000000e+00
UHMK1,3543.839403,3.225018,0.067672,47.656533,0.000000e+00,0.000000e+00
CSRP1,4592.587776,-1.856967,0.046232,-40.165842,0.000000e+00,0.000000e+00

In [4]:
'CLDN5' in human.index.tolist(), 'ABCD1' in human.index.tolist(), 'TGFB1' in human.index.tolist(),

(True, True, True)

In [5]:
human.loc[human[human['P-value'] == 0].index.tolist(), 'P-value'] = 1e-309
human.loc[human[human['P-adj'] == 0].index.tolist(), 'P-adj'] = 1e-310
human.head()

,Base mean,log2(FC),StdErr,Wald-Stats,P-value,P-adj
ABCD1,206.706956,2.835321,0.183205,15.476223,5.020961e-54,1.648218e-52
TGFB1,459.067424,-2.181096,0.116899,-18.657899,1.089306e-77,5.673349e-76
TAGLN2,3702.951794,2.954344,0.056286,52.488180,1.000000e-309,1.000000e-310
UHMK1,3543.839403,3.225018,0.067672,47.656533,1.000000e-309,1.000000e-310
CSRP1,4592.587776,-1.856967,0.046232,-40.165842,1.000000e-309,1.000000e-310

In [6]:
human['log2(FC)'] = human['log2(FC)'] * -1

In [7]:
human.rename(columns={'Base mean': 'Base_Mean', 'log2(FC)': 'log2FC', 'StdErr': 'StdErr', 'Wald-Stats': 'Wald_Stats', 'P-value': 'P_value', 'P-adj': 'P_adj'}, inplace=True)
human.head()

,Base_Mean,log2FC,StdErr,Wald_Stats,P_value,P_adj
ABCD1,206.706956,-2.835321,0.183205,15.476223,5.020961e-54,1.648218e-52
TGFB1,459.067424,2.181096,0.116899,-18.657899,1.089306e-77,5.673349e-76
TAGLN2,3702.951794,-2.954344,0.056286,52.488180,1.000000e-309,1.000000e-310
UHMK1,3543.839403,-3.225018,0.067672,47.656533,1.000000e-309,1.000000e-310
CSRP1,4592.587776,1.856967,0.046232,-40.165842,1.000000e-309,1.000000e-310

In [8]:
human['prize'] = -np.log10(human.P_adj) / 100
human.head()

,Base_Mean,log2FC,StdErr,Wald_Stats,P_value,P_adj,prize
ABCD1,206.706956,-2.835321,0.183205,15.476223,5.020961e-54,1.648218e-52,0.517830
TGFB1,459.067424,2.181096,0.116899,-18.657899,1.089306e-77,5.673349e-76,0.752462
TAGLN2,3702.951794,-2.954344,0.056286,52.488180,1.000000e-309,1.000000e-310,3.100000
UHMK1,3543.839403,-3.225018,0.067672,47.656533,1.000000e-309,1.000000e-310,3.100000
CSRP1,4592.587776,1.856967,0.046232,-40.165842,1.000000e-309,1.000000e-310,3.100000

In [9]:
human.loc["CLDN5", "prize"] += 2
human.loc["ABCD1", "prize"] += 5

In [10]:
human[['prize','Base_Mean','log2FC','StdErr','Wald_Stats','P_value','P_adj']].to_csv(f'/Users/alex/Documents/abcd1/human_deseq_prizes_{NUM}.tsv', sep='\t')